<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DBConection"
			 connectionString="Server=DESKTOP-7VC276D;
                           
                           User Id=jpscube;
                           Password=jpsc@1289;
                           TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
